* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/* Format the HoriSEOn header */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* Differentiate SEO in header */
.header h1 .seo {
    color: #d9dcd6;
}
/* Formats the nav bar */
nav{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* Brings list inline */
nav li{
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}
/* Color the hyperlinks */
a {
    color: #ffffff;
    text-decoration: none;
}
/* Give paragraphs uniform font size */
p {
    font-size: 16px;
}
/* Formats main picture */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* Keep to of the content sections photos to the left */
.float-left {
    float: left;
    margin-right: 25px;
}
/* Put Online reputation managment photo to the right */
.float-right {
    float: right;
    margin-left: 25px;
}
/* Format the content section space */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* Format the benfits section space */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* Format each section */
.benefit-form {
    margin-bottom: 32px;
    color: #ffffff;
}
/* Format the benefits header */
.benefit-header {
    margin-bottom: 10px;
    text-align: center;
}
/* Formats the benfits images */
.benefits-img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* Format the Content header */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Format the content sections */
.content-form{
    margin-bottom: 20px;
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:#0072bb;
    color: #ffffff;
}
/* Format the content images */
.content-img {
    max-height: 200px;
}
/* Formats footer heder */
h4 {
    font-size: 20px;
}
/* Format the footer text */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}





